body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #344C64;
    color: #7ABA78;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

.btn:hover {
    background-color: #2c3f55;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
